services:
  portainer:
    container_name: portainer
    image: portainer/portainer-ce:latest
    pull_policy: always
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - data:/data
    env_file:
      - .env
    # Uncomment to expose portainer on port 9000 (http) and 9443 (https)
    # ports:
    #   - '9000:9000'
    #   - '9443:9443'
    networks:
      - proxiable
    labels:
      - "com.centurylinklabs.watchtower.enable=true"

volumes:
  data:

networks:
  proxiable:
    external: true
