services:
  watchtower:
    container_name: watchtower
    image: beatkind/watchtower
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - .env
    command: --label-enable
